html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
del {
  text-decoration: line-through;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
div,
fieldset,
input,
textarea {
  -webkit-box-sizing: ;
  -moz-box-sizing: ;
  box-sizing: ;
}
form {
  margin-bottom: 1.5em;
}
fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0;
}
legend {
  margin-top: -0.2em 0 1em 0;
  font-weight: bold;
  font-size: 1.2em;
}
label {
  font-weight: normal;
}
button,
input,
select,
textarea {
  margin: 0;
}
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}
input,
select {
  vertical-align: middle;
}
input[type=text],
input[type=password],
input[type=tel],
input[type=email],
input[type=url],
input[type=search],
textarea {
  padding: 2px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  font-family: inherit;
  font-size: inherit;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
textarea:focus {
  border-color: #646464;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
input:valid,
textarea:valid,
input:invalid,
textarea:invalid {
  -webkit-box-shadow: 0 0 2px #f00;
  -moz-box-shadow: 0 0 2px #f00;
  -webkit-box-shadow: 0 0 2px #f00;
  -moz-box-shadow: 0 0 2px #f00;
  -o-box-shadow: 0 0 2px #f00;
  box-shadow: 0 0 2px #f00;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}
select {
  margin: 0.5em 0;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
textarea {
  overflow: auto;
  padding: 2px;
}
button {
  width: auto;
  padding: 8px 12px 9px;
  overflow: visible;
  background-color: #e3e3e3;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 0.875em;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  color: #333;
  text-shadow: 0 1px 0 #fff;
}
button:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}
.ie6 legend,
.ie7 legend {
  margin-left: -7px;
}
.ie6 input {
  vertical-align: text-bottom;
}
.ie7 input[type="checkbox"],
.iem7 input[type="checkbox"] {
  vertical-align: baseline;
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:start:increement {
  height: 0px;
  display: block;
  background: transparent;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
::-webkit-scrollbar-thumb:vertical {
  height: 40px;
  background: rgba(0,0,0,0.3);
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover,
a:focus {
  color: #000;
}
html,
body {
  height: 100%;
}
body {
  font-size: 13px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333;
  background: #000;
}
body #spindal {
  background: rgba(255,255,255,0.8);
  width: 244px;
  position: relative;
  z-index: 100;
  min-height: 100%;
}
body #spindal header.artist {
  padding: 1em 2em;
}
body #spindal header.artist img {
  width: 184px;
  height: 72px;
  background: rgba(0,0,0,0.4);
}
body #spindal section.albums ul.albums li.album section.album.cover {
  padding: 0 2em 1em;
}
body #spindal section.albums ul.albums li.album section.album.cover img {
  height: 180px;
  width: 180px;
  background: #fff;
  padding: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0,0,0,0.45) 2px 2px 4px;
  -moz-box-shadow: rgba(0,0,0,0.45) 2px 2px 4px;
  -o-box-shadow: rgba(0,0,0,0.45) 2px 2px 4px;
  box-shadow: rgba(0,0,0,0.45) 2px 2px 4px;
}
body #spindal section.albums ul.albums li.album h2.album.title {
  font-weight: bold;
  padding: 0 2em;
}
body #spindal section.albums ul.albums li.album menu.tracks ol.tracks {
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.4);
  list-style: decimal;
}
body #spindal section.albums ul.albums li.album menu.tracks ol.tracks li.track {
  border-top: 1px solid rgba(255,255,255,0.4);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  line-height: 24px;
  padding: 0 2em;
  height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body #spindal nav.artist ul li a {
  display: block;
  text-shadow: rgba(255,255,255,0.5) 0 1px 0;
  font: bold 1em/2 "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 0 2em;
}
body #spindal nav.artist ul li a:hover,
body #spindal nav.artist ul li a:focus {
  -webkit-box-shadow: inset rgba(0,0,0,0.06) 0 0 5px;
  -moz-box-shadow: inset rgba(0,0,0,0.06) 0 0 5px;
  -o-box-shadow: inset rgba(0,0,0,0.06) 0 0 5px;
  box-shadow: inset rgba(0,0,0,0.06) 0 0 5px;
  background: rgba(181,181,181,0.6);
}
body #spindal nav.artist ul li a:active {
  -webkit-box-shadow: inset rgba(0,0,0,0.08) 0 0 5px;
  -moz-box-shadow: inset rgba(0,0,0,0.08) 0 0 5px;
  -o-box-shadow: inset rgba(0,0,0,0.08) 0 0 5px;
  box-shadow: inset rgba(0,0,0,0.08) 0 0 5px;
  background: rgba(181,181,181,0.8);
}
body ul.bgs li.bg img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
