html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
del {
  text-decoration: line-through;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
div,
fieldset,
input,
textarea {
  -webkit-box-sizing: ;
  -moz-box-sizing: ;
  box-sizing: ;
}
* {
  outline: none;
}
form {
  margin-bottom: 1.5em;
}
fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0;
}
legend {
  margin-top: -0.2em 0 1em 0;
  font-weight: bold;
  font-size: 1.2em;
}
label {
  font-weight: normal;
}
button,
input,
select,
textarea {
  margin: 0;
}
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}
input,
select {
  vertical-align: middle;
}
input[type=text],
input[type=password],
input[type=tel],
input[type=email],
input[type=url],
input[type=search],
textarea {
  padding: 2px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  font-family: inherit;
  font-size: inherit;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
textarea:focus {
  border-color: #646464;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
input:valid,
textarea:valid,
input:invalid,
textarea:invalid {
  -webkit-box-shadow: 0 0 2px #f00;
  -moz-box-shadow: 0 0 2px #f00;
  -webkit-box-shadow: 0 0 2px #f00;
  -moz-box-shadow: 0 0 2px #f00;
  -o-box-shadow: 0 0 2px #f00;
  box-shadow: 0 0 2px #f00;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}
select {
  margin: 0.5em 0;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
textarea {
  overflow: auto;
  padding: 2px;
}
button {
  width: auto;
  padding: 8px 12px 9px;
  overflow: visible;
  background-color: #e3e3e3;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 0.875em;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  color: #333;
  text-shadow: 0 1px 0 #fff;
}
button:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}
.ie6 legend,
.ie7 legend {
  margin-left: -7px;
}
.ie6 input {
  vertical-align: text-bottom;
}
.ie7 input[type="checkbox"],
.iem7 input[type="checkbox"] {
  vertical-align: baseline;
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:start:increement {
  height: 0px;
  display: block;
  background: transparent;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
::-webkit-scrollbar-thumb:vertical {
  height: 40px;
  background: rgba(0,0,0,0.3);
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover,
a:focus {
  color: #000;
}
html,
body {
  height: 100%;
}
body {
  font-size: 13px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333;
  background: #000;
}
body a.show.menu {
  position: absolute;
  top: 13px;
  left: 0;
  z-index: 1;
  height: 64px;
  width: 45px;
  background: url("../i/show-menu.png") left top no-repeat;
  text-indent: -999em;
  display: none;
}
body a.show.menu:hover,
body a.show.menu:focus {
  background-position: 0 -64px;
}
body a.show.menu:active {
  background-position: 0 -128px;
}
body a.play.big {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  margin: -75px 0 0 -75px;
  height: 132px;
  width: 132px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -o-border-radius: 75px;
  border-radius: 75px;
  border: 9px solid rgba(0,0,0,0.5);
}
body a.play.big p {
  background: rgba(0,0,0,0.8);
  height: 132px;
  width: 132px;
  -webkit-border-radius: 66px;
  -moz-border-radius: 66px;
  -o-border-radius: 66px;
  border-radius: 66px;
}
body a.play.big p span {
  display: block;
  border: 4px solid #fff;
  height: 124px;
  width: 124px;
  -webkit-border-radius: 66px;
  -moz-border-radius: 66px;
  -o-border-radius: 66px;
  border-radius: 66px;
  text-indent: -999em;
  background: url("../i/icon-play-big") 50px center no-repeat;
}
body a.play.big:hover {
  border-color: transparent;
}
body a.play.big:hover p {
  background: rgba(0,0,0,0.8) -webkit-radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.01) 50%);
}
body #spindal {
  background: rgba(255,255,255,0.8);
  width: 245px;
  position: relative;
  z-index: 2;
  min-height: 100%;
}
body #spindal header.artist {
  padding: 1em 2em;
  position: relative;
}
body #spindal header.artist img.logo {
  width: 185px;
  height: 72px;
}
body #spindal header.artist a.hide.menu {
  display: block;
  position: absolute;
  right: 0;
  top: 13px;
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  z-index: 10;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  width: 41px;
  height: 60px;
  display: none;
}
body #spindal header.artist a.hide.menu:hover,
body #spindal header.artist a.hide.menu:focus {
  background: rgba(0,0,0,0.8);
}
body #spindal header.artist a.hide.menu:active {
  background: rgba(0,0,0,0.9);
}
body #spindal header.artist:hover a.hide.menu {
  display: block;
}
body #spindal section.albums ul.albums li.album section.album.cover {
  padding: 0 24px 11px;
}
body #spindal section.albums ul.albums li.album section.album.cover img {
  height: 185px;
  width: 185px;
  border: 2px solid #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0,0,0,0.45) 2px 2px 4px;
  -moz-box-shadow: rgba(0,0,0,0.45) 2px 2px 4px;
  -o-box-shadow: rgba(0,0,0,0.45) 2px 2px 4px;
  box-shadow: rgba(0,0,0,0.45) 2px 2px 4px;
}
body #spindal section.albums ul.albums li.album h2.album.title {
  font: bold 1em/2 "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 0 2em;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks {
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.4);
  counter-reset: tracknum;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dt {
  border-top: 1px solid rgba(255,255,255,0.4);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 0 2em;
  line-height: 24px;
  height: 24px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  counter-increment: tracknum;
  position: relative;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dt a.toggle {
  display: block;
  height: 17px;
  width: 17px;
  position: absolute;
  left: 5px;
  top: 3px;
  background: url("../i/icon-play-pause.png") top left no-repeat;
  text-indent: -999em;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dt:hover {
  -webkit-box-shadow: inset rgba(0,0,0,0.06) 0 0 5px;
  -moz-box-shadow: inset rgba(0,0,0,0.06) 0 0 5px;
  -o-box-shadow: inset rgba(0,0,0,0.06) 0 0 5px;
  box-shadow: inset rgba(0,0,0,0.06) 0 0 5px;
  background: rgba(181,181,181,0.6);
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dt:hover a.toggle {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dt:active a.toggle {
  background-position: 0 -17px;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dt.ui-state-active {
  -webkit-box-shadow: inset rgba(0,0,0,0.1) 0 3px 2px;
  -moz-box-shadow: inset rgba(0,0,0,0.1) 0 3px 2px;
  -o-box-shadow: inset rgba(0,0,0,0.1) 0 3px 2px;
  box-shadow: inset rgba(0,0,0,0.1) 0 3px 2px;
  background: rgba(181,181,181,0.6);
  border-bottom: transparent;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dt.ui-state-active a.toggle {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  background-position: -17px 0;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dt.ui-state-active:hover a.toggle {
  background-position: -17px -17px;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dt h3.track.title:before {
  content: counter(tracknum) ".\0020";
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  background: rgba(181,181,181,0.6);
  -webkit-box-shadow: inset rgba(0,0,0,0.1) 0 -3px 2px;
  -moz-box-shadow: inset rgba(0,0,0,0.1) 0 -3px 2px;
  -o-box-shadow: inset rgba(0,0,0,0.1) 0 -3px 2px;
  box-shadow: inset rgba(0,0,0,0.1) 0 -3px 2px;
  padding: 0 26px;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd .track.length {
  width: 100%;
  height: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border-top: 1px solid rgba(0,0,0,0.3);
  background: #fff;
  -webkit-box-shadow: inset rgba(0,0,0,0.15) 1px 1px 2px;
  -moz-box-shadow: inset rgba(0,0,0,0.15) 1px 1px 2px;
  -o-box-shadow: inset rgba(0,0,0,0.15) 1px 1px 2px;
  box-shadow: inset rgba(0,0,0,0.15) 1px 1px 2px;
  position: relative;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd .track.length .played,
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd .track.length .buffer,
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd .track.length .scrub {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -999em;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd .track.length .played,
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd .track.length .buffer {
  height: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd .track.length .buffer {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3b3b3b), color-stop(1, #000));
  background: -moz-linear-gradient(top, #3b3b3b 0%, #000 100%);
  background: linear-gradient(top, #3b3b3b 0%, #000 100%);
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd .track.length .played {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3382bf), color-stop(1, #0063af));
  background: -moz-linear-gradient(top, #3382bf 0%, #0063af 100%);
  background: linear-gradient(top, #3382bf 0%, #0063af 100%);
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd .track.length .scrub {
  height: 7px;
  width: 7px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dcdcdc), color-stop(1, #8c8c8c));
  background: -moz-linear-gradient(top, #dcdcdc 0%, #8c8c8c 100%);
  background: linear-gradient(top, #dcdcdc 0%, #8c8c8c 100%);
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  -o-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  top: -2px;
  border: 1px solid #fff;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd ul.track.stats {
  margin: 0 0 0.25em;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd ul.track.stats li {
  display: inline-block;
  font-size: 75%;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd ul.track.stats li.length.played {
  width: 25%;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd ul.track.stats li.total.plays {
  width: 50%;
  text-align: center;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd ul.track.stats li.length.unplayed {
  width: 25%;
  text-align: right;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track {
  margin: 0 0 0.75em;
  position: relative;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul {
  zoom: 1;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul:before,
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul:after {
  clear: both;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li {
  float: left;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li > a {
  display: block;
  padding: 0 0.7em;
  font: bold 12px/1.8 "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0 1px 0;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li > a:hover {
  -webkit-border-radius: 0.9em;
  -moz-border-radius: 0.9em;
  -o-border-radius: 0.9em;
  border-radius: 0.9em;
  -webkit-box-shadow: inset rgba(0,0,0,0.5) 1px 1px 2px;
  -moz-box-shadow: inset rgba(0,0,0,0.5) 1px 1px 2px;
  -o-box-shadow: inset rgba(0,0,0,0.5) 1px 1px 2px;
  box-shadow: inset rgba(0,0,0,0.5) 1px 1px 2px;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.lyrics,
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.share {
  margin-right: 0.8em;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.lyrics > a:hover,
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.share > a:hover {
  background: rgba(0,0,0,0.3);
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.lyrics > a:active,
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.share > a:active {
  background: rgba(0,0,0,0.5);
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.share > a:hover + menu.social {
  display: block;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.share menu.social {
  width: 150px;
  position: absolute;
  top: 1.5em;
  left: 30px;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 5px 13px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 5px 13px;
  -o-box-shadow: rgba(0,0,0,0.3) 0 5px 13px;
  box-shadow: rgba(0,0,0,0.3) 0 5px 13px;
  display: none;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.share menu.social ul {
  background: rgba(0,0,0,0.7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.share menu.social ul li a {
  display: block;
  padding: 0 1em;
  font: bold 1em/2.4 "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  border-top: 1px solid rgba(255,255,255,0.15);
  border-bottom: 1px solid #000;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.share menu.social ul li a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4d92c7), color-stop(1, #0264b0));
  background: -moz-linear-gradient(top, #4d92c7 0%, #0264b0 100%);
  background: linear-gradient(top, #4d92c7 0%, #0264b0 100%);
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.share menu.social ul li:first-of-type a {
  border-top: none;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.share menu.social ul li:last-of-type a {
  border-bottom: none;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.buy {
  text-align: right;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.buy > a {
  color: #0063af;
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.buy > a:hover,
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.buy > a:focus {
  background: rgba(255,255,255,0.5);
}
body #spindal section.albums ul.albums li.album menu.tracks dl.tracks dd menu.track > ul > li.buy > a:active {
  background: rgba(255,255,255,0.6);
}
body #spindal nav.artist ul li a {
  display: block;
  text-shadow: rgba(255,255,255,0.5) 0 1px 0;
  font: bold 1em/2 "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 0 2em;
}
body #spindal nav.artist ul li a:hover,
body #spindal nav.artist ul li a:focus {
  -webkit-box-shadow: inset rgba(0,0,0,0.06) 0 0 5px;
  -moz-box-shadow: inset rgba(0,0,0,0.06) 0 0 5px;
  -o-box-shadow: inset rgba(0,0,0,0.06) 0 0 5px;
  box-shadow: inset rgba(0,0,0,0.06) 0 0 5px;
  background: rgba(181,181,181,0.6);
}
body #spindal nav.artist ul li a:active {
  -webkit-box-shadow: inset rgba(0,0,0,0.08) 0 0 5px;
  -moz-box-shadow: inset rgba(0,0,0,0.08) 0 0 5px;
  -o-box-shadow: inset rgba(0,0,0,0.08) 0 0 5px;
  box-shadow: inset rgba(0,0,0,0.08) 0 0 5px;
  background: rgba(181,181,181,0.8);
}
body ul.bgs li.bg img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
