@import 'm/all'
@import 'd/all'

m = 13px

dfont()
  fs m
  lh 1.5
  ff sans
  color #1b1b1b

link = #000
hover = link

a
  text-decoration none
  color link
  &:hover, &:focus
    color hover

html, body
  height 100%

body
  dfont()
  bg #000
  overflow-y scroll

#spindal
  bg w80
  width 245px
  position relative
  z-index 2
  min-height 100%
  box-shadow b25 1px 0 3px
  left -245px
  transition 1s ease all
  &.active
    left 0

  header.artist
    pad m 2em
    position relative
    img.logo
      display block

@import 'p/a.show.hide.menu'
@import 'p/a.play.big'
@import 'p/section.albums'
@import 'p/menu.share'
@import 'p/menu.tracks'
@import 'p/nav.artist'
@import 'p/ul.bgs'
