@import 'm/all'
@import 'd/all'

m = 13px

dfont()
  fs m
  lh 1.5
  ff sans
  color #333

link = #000
hover = link

a
  text-decoration none
  color link
  &:hover, &:focus
    color hover

html, body
  height 100%

body
  dfont()
  bg #000

  a.show.menu
    position absolute
    top m
    left 0
    z-index 1
    height 64px
    width 45px
    background url(../i/show-menu.png) left top no-repeat
    text-indent -999em
    display none
    &:hover, &:focus
      background-position 0 -64px
    &:active
      background-position 0 -128px

  a.play.big
    display block
    position absolute
    top 50%
    left 50%
    z-index 1000
    mar -75px 0 0 -75px
    square 132px
    border-radius 75px
    border 9px solid b50
    p
      bg b80
      square 132px
      border-radius 66px
      span
        display block
        border 4px solid #fff
        square 124px
        border-radius 66px
        text-indent -999em
        background url(../i/icon-play-big) 50px center no-repeat
    &:hover
      bc transparent
      p
        background b80 -webkit-radial-gradient(circle, w50 0%, w1 50%)

  #spindal
    bg w80
    width 245px
    position relative
    z-index 2
    min-height 100%

    header.artist
      pad 1em 2em
      position relative
      img.logo
        width 185px
        height 72px

      a.hide.menu
        display block
        position absolute
        right 0
        top m
        bg b50
        border-radius 2px 0 0 2px
        z-index 10
        transition()
        width 41px
        height 60px
        display none
        &:hover, &:focus
          bg b80
        &:active
          bg b90

      &:hover
        a.hide.menu
          display block

    section.albums
      ul.albums
        li.album
          section.album.cover
            pad 0 m*2 - 2px m - 2px
            img
              square 185px
              border 2px solid #fff
              border-radius 2px
              box-shadow b45 2px 2px 4px

          h2.album.title
            font bold 1em/2 sans
            pad 0 2em

          menu.tracks
            dl.tracks
              bt 1px solid b20
              bb 1px solid w40
              counter-reset tracknum
              dt
                bt 1px solid w40
                bb 1px solid b20
                pad 0 2em
                lh m*2 - 2px
                height m*2 - 2px
                cursor pointer
                white-space nowrap
                overflow hidden
                text-overflow ellipsis
                counter-increment tracknum
                position relative

                a.toggle
                  display block
                  square 17px
                  position absolute
                  left 5px
                  top 3px
                  background url(../i/icon-play-pause.png) top left no-repeat
                  text-indent -999em
                  opacity 0

                &:hover
                  box-shadow inset b6 0 0 5px
                  bg hsla(0,0,71,.6)
                  a.toggle
                    opacity 1

                &:active
                  a.toggle
                    background-position 0 -17px

                &.ui-state-active
                  box-shadow inset b10 0 3px 2px
                  bg hsla(0,0,71,.6)
                  bb transparent
                  a.toggle
                    opacity 1
                    background-position -17px 0
                  &:hover
                    a.toggle
                      background-position -17px -17px

                h3.track.title
                  &:before
                    content counter(tracknum) ".\0020"
                               
              dd
                bb 1px solid b20
                bg hsla(0,0,71,.6)
                box-shadow inset b10 0 -3px 2px
                pad 0 m*2
                .track.length
                  width 100%
                  height 5px
                  border-radius 3px
                  bt 1px solid b30
                  bg #fff
                  box-shadow inset b15 1px 1px 2px
                  position relative

                  .played, .buffer, .scrub
                    position absolute
                    top 0
                    left 0
                    text-indent -999em

                  .played, .buffer
                    height 5px
                    border-radius 3px

                  .buffer
                    background linear-gradient(top, m59, #000)
                  .played
                    background linear-gradient(top, #3382bf, #0063af)
                  .scrub
                    square 7px
                    border-radius 5px
                    background linear-gradient(top, m220, m140)
                    box-shadow b30 0 1px 3px
                    top - 2px
                    border 1px solid #fff

                ul.track.stats
                  mar 0 0 .25em
                  li
                    display inline-block
                    fs 75%
                    &.length.played
                      width 25%
                    &.total.plays
                      width 50%
                      text-align center
                    &.length.unplayed
                      width 25%
                      text-align right

                menu.track
                  mar 0 0 .75em
                  position relative
                  > ul
                    clearfix()
                    > li
                      float left
                      > a
                        display block
                        pad 0 .7em
                        font bold 12px/1.8 sans
                        text-align center
                        text-shadow w50 0 1px 0
                        &:hover, &.active
                          border-radius .9em
                          box-shadow inset b50 1px 1px 2px
                    
                      &.lyrics, &.share
                        mr .8em
                        > a
                          &:hover
                            bg b30
                          &:active, &.active
                            bg b50

                      &.share
                        menu.social
                          width 150px
                          position absolute
                          top 1.8em
                          left 30px
                          box-shadow b30 0 5px m
                          display none
                          ul
                            bg b70
                            border-radius 3px
                            li 
                              a
                                display block
                                pad 0 1em
                                font bold 1em/2.4 sans
                                color #fff
                                font-smoothing()
                                bt 1px solid w15
                                bb 1px solid #000
                                &:hover
                                  background linear-gradient(top, #4d92c7, #0264b0)
                              &:first-of-type a
                                bt none
                                border-radius 3px 3px 0 0
                              &:last-of-type a
                                bb none
                                border-radius 0 0 3px 3px
                        
                      &.buy
                        text-align right
                        > a
                          color #0063af
                          &:hover, &:focus
                            bg w50
                          &:active
                            bg w60
                  
                  

    nav.artist
      ul li a
        display block
        text-shadow w50 0 1px 0
        font bold 1em/2 sans
        text-transform uppercase
        pad 0 2em
        &:hover, &:focus
          box-shadow inset b6 0 0 5px
          bg hsla(0,0,71,.6)
        &:active
          box-shadow inset b8 0 0 5px
          bg hsla(0,0,71,.8)

  ul.bgs
    li.bg img
      min-height: 100%
      min-width: 1024px
      width: 100%
      height: auto
      position: fixed
      top: 0
      left: 0
