// scrollbar unit
::-webkit-scrollbar
  width .5em
  height .5em

// button at ends of scrollbars
::-webkit-scrollbar-button:start:decrement
::-webkit-scrollbar-button:start:increement
  height 0px
  display block
  bg transparent

// scrollbar gutter
::-webkit-scrollbar-track-piece
  bg transparent

// scrollbar thumb
::-webkit-scrollbar-thumb:vertical
  height 40px
  bg b30
  border-radius .25em
