// BORDER ----------

bg()
  background arguments

bgc()
  background-color arguments

bgg(start = #fff, end = #000)
  background-color linear-gradient(top, start 0%, end 100%)

bs()
  box-shadow arguments

// BORDER ----------

bc()
  border-color arguments

bt()
  border-top arguments

br()
  border-right arguments

bb()
  border-bottom arguments

bl()
  border-left arguments
  
// TYPE ----------

ff()
  font-family arguments

fs()
  font-size arguments

fw()
  font-weight arguments

tt()
  text-transform arguments

ls()
  letter-spacing arguments

lis()
  list-style arguments

lh()
  line-height arguments


// MARGIN ----------

mar()
  margin arguments
mt()
  margin-top arguments
mr()
  margin-right arguments
mb()
  margin-bottom arguments
ml()
  margin-left arguments


// PADDING ----------

pad()
  padding arguments
pt()
  padding-top arguments
pr()
  padding-right arguments
pb()
  padding-bottom arguments
pl()
  padding-left arguments

