#cpanel
  .panel
    d block
    h 516px
    &.ui-tabs-hide
      position absolute
      left -10000px

    h2
      f bold 16px/28px sans
      aa()
      c m200
      text-shadow b80 0 -1px 1px
      -webkit-text-fill-color linear-gradient(top, #fff, m177)
      -webkit-text-stroke w50 0 1px 0
      pl .5em
      bb 1px solid m20
      box-shadow w5 0 1px 0

    .content
      clearfix()
      c m200
      aa()
      p 8px 0 0 
      p
        f 12px/1.5 sans
        text-shadow #000 0 -1px 0
        p 0 8px 1.25em
        &.url
          mt -.5em
          f bold 13px/1.5 sans
          c m160
        a
          text-decoration underline
          c m200

