#cpanel
  bg m38 url(../i/cp/cp-bg.png)
  w 650px
  box-shadow b60 0 0 10px
  border-radius 5px 5px 0 0
  relative()
  absolute top 0 left 50%
  ml -325px
  z-index 2

@import 'cpanel.top-bar'
@import 'cpanel.bottom-bar'
@import 'cpanel.tabs'
@import 'cpanel.panels'
@import 'panel.profile'
@import 'panel.music'
@import 'panel.account'
