html.cpanel, body.cpanel
  height 100%
  overflow-y hidden

body.cpanel
  overflow-y hidden

#cpanel
  bg m38 url(../i/cp/cp-bg.png)
  w 650px
  m 0 auto
  box-shadow b60 0 0 10px
  border-radius 5px 5px 0 0
  relative()
  z-index 2

  #top-bar
    h 16px
    background linear-gradient(top, m8, m40)
    box-shadow b70 0 1px 5px, inset b50 0 -1px 3px
    border-radius 4px 4px 0 0
    cursor pointer
    &:hover, &:focus
      bg m30

    a#logout
      float right
      d block
      c m60
      r 16px
      lh 16px
      &:hover, &:focus
        c m110

  #main-menu
    ul
      clearfix()
      li
        float left
        a
          d block
          w 103px
          h 31px
          box-shadow b75 0 1px 3px
          ti -999em
          bg url(../i/cp/main-menu.png) top left no-repeat

          &.active, &:active
            box-shadow #000 0 0 0

          &.home
            &:hover, &:focus
              bgp 0 -31px
            &:active, &.active
              bgp 0 -62px
          &.profile
            bgp -103px 0
            &:hover, &:focus
              bgp -103px -31px
            &:active, &.active
              bgp -103px -62px
          &.music
            bgp -206px 0
            &:hover, &:focus
              bgp -206px -31px
            &:active, &.active
              bgp -206px -62px
          &.gallery
            bgp -309px 0
            &:hover, &:focus
              bgp -309px -31px
            &:active, &.active
              bgp -309px -62px
          &.stats
            bgp -412px 0
            &:hover, &:focus
              bgp -412px -31px
            &:active, &.active
              bgp -412px -62px
          &.account
            w 104px
            bgp -515px 0
            &:hover, &:focus
              bgp -515px -31px
            &:active, &.active
              bgp -515px -62px
          &.minimize
            w 31px
            bgp -619px 0
            &:hover, &:focus
              bgp -619px -31px
            &:active
              bgp -619px -62px
            &.minimized
              bgp -649px 0
              &:hover, &:focus
                bgp -649px -31px
              &:active
                bgp -649px -62px

  #albums
    relative()
    p 19px 32px
    ul.albums
      clearfix()
      h 175px
      w 100%
      li.album
        d inline-block
        r 175px
        w 195px
        relative()
        > a
          m 0 10px
          d block
          r 175px
          bg url(../i/cp/album-bg.jpg)
          ti -999em
          box-shadow w7 0 1px 0
          &:hover, &:focus
            bgp 0 -175px
          span.settings
            d block
            absolute bottom 0 right 10px
            r 50px
            hide-text()
    nav.nav
      .active
        content ''
        d block
        r 190px
        absolute top 12px left 34px
        bg url(../i/cp/album-click.png)

      a
        d block
        w 26px
        h 41px
        bg #000 url(../i/cp/album-nav.png)
        ti -999em
        absolute()
        z 100
        &.prev-set
          absolute top 85px left 8px
          &:hover, &:focus
            bgp 0 -41px
          &:active
            bgp 0 -82px
        &.next-set
          absolute top 85px right 8px
          bgp 26px 0
          &:hover, &:focus
            bgp 26px -41px
          &:active
            bgp 26px -82px
    menu.rollover
      d none
      transition()
      a
        d block
        w 26px
        h 24px
        bg #000 url(../i/cp/album-rollover.png)
        ti -999em
        &.add
          absolute top 18px right 8px
          &:hover, &:focus
            bgp 0 -24px
          &:active
            bgp 0 -48px
        &.help
          absolute bottom 17px right 8px
          bgp 26px 0
          &:hover, &:focus
            bgp 26px -24px
          &:active
            bgp 26px -48px
    &:hover, &:focus
      menu.rollover
        d block

  ul.thead
    bg url(../i/cp/songs-th.png) top left no-repeat
    d block
    lhh 26px
    li
      display table-cell
      ta center
      c transparent

  #songs
    max-height 270px + 7px
    overflow hidden
    overflow-x hidden
    overflow-y scroll
    relative()
    z-index 0
    table
      tr
        th, td
          &.name
            max-width 186px
            cursor text
          &.upload
            min-width 98px
            bgp -186px 0
          &.download
            min-width 114px
            bgp -284px 0
          &.lyrics
            min-width 60px
            bgp -398px 0
          &.fullscreen
            min-width 152px
            bgp -458px 0
          &.status
            min-width 40px
            bgp -610px 0
      tbody
        tr
          bg rgb(52,54,56)
          &:nth-of-type(even)
            bg rgb(62,64,66)
          td
            .light
              m 6px 3px 9px
            select
              m 6px 0 9px
            &.name
              white-space nowrap
              overflow hidden
              text-overflow ellipsis
              span.num
                f bold 12px/35px sans
                c m160
                text-shadow b80 0 -1px 0
                w 18px
                ta right
                d inline-block
              .light
                m 6px 0 9px 3px
              input.name
                d inline-block
                bxs()
                w 150px
                h 24px
                m 5px -14px 6px 0
                p 6px 2px
                bg transparent
                b 0
                f bold 12px/1 sans
                aa()
                c #fff
                &:focus
                  background linear-gradient(top, m50, m38)
                  box-shadow w7 0 1px 0, inset b13 0 1px 2px
            &.upload
              ta center
              a
                d inline-block
                ti -999em
                r 26px
                m 5px 0 4px
                bg url(../i/cp/song-upload.png) top left no-repeat
                &:hover, &:focus
                  bgp 0 -26px
                &:active
                  bgp 0 -52px
            &.download
              .selectBox-dropdown
                w 76px
                bg url(../i/cp/song-download-bg.png) top left no-repeat
                
            &.lyrics
              a.add
                d inline-block
                r 21px
                m 7px 0
                bg url(../i/cp/song-lyrics.png) top left no-repeat
                ti -999em
                &:hover, &:focus
                  bgp 0 -21px
                &:active
                  bgp 0 -42px

            &.fullscreen
              .selector
                w 114px
                d inline-block
                relative()

                .selector-dropdown
                  w 114px
                  h 21px
                  bg url(../i/cp/song-fullscreen-bg.png) top left no-repeat
                  pl 1px
                  &:hover, &:focus
                    .selector-label
                      c m235

                  &.active
                    h 40px
                    bgp 0 -22px
                    box-shadow inset b13 0 0 7px, b60 2px 2px 4px
                    bb none
                    border-radius 3px
                    absolute top 0 left 0
                    z-index 999999
                    .selector-options li a.video
                      d block
                    .selector-arrow
                      bgp 0 -36px

                  .selector-arrow
                    cursor pointer
                    &:hover
                      bgp 0 -18px

                  .selector-dropdown-menu
                    bg transparent
                    box-shadow none

                  .selector-options li a
                    d block
                    m 2px 0
                    w 91px
                    lhh 17px
                    text-shadow b80 0 -1px 0
                    bg url(../i/cp/song-fullscreen-button.png) top left no-repeat
                    ta center
                    &:hover, &:focus
                      bgp 0 -17px
                      c m235
                    &:active
                      bgp 0 -34px
                      c m180
                    &.video
                      d none
                            
              
            &.status
              ta center
              a.delete
                d inline-block
                h 21px
                w 19px
                m 7px 2px 7px 0
                bg url(../i/cp/song-delete.png) top left no-repeat
                ti -999em
                &:hover, &:focus
                  bgp 0 -21px
                &:active
                  bgp 0 -42px

  #bottom-bar
    h 17px
    box-shadow b50 0 -1px 2px, inset w5 0 1px 0
    background #000 linear-gradient(top, w15, w1)
