#account-panel
  p 7px 17px 0
  section
    mb 18px

    header
      bb 1px solid m20
      box-shadow w5 0 1px 0
      h2
        f bold 16px/28px sans
        aa()
        c m200
        text-shadow b80 0 -1px 1px
        -webkit-text-fill-color linear-gradient(top, #fff, m177)
        -webkit-text-stroke w50 0 1px 0
        pl .5em
    .content
      clearfix()
      c m200
      aa()
      p 8px 0 0 
      p
        f 12px/1.5 sans
        text-shadow #000 0 -1px 0
        p 0 8px 1.25em
        &.url
          mt -.5em
          f bold 13px/1.5 sans
          c m160
        a
          text-decoration underline
          c m200

      div.info
        border-radius 3px
        w 301px
        h 107px
        float left
        bg rgba(25,25,25,.5)
        box-shadow w7 0 1px 0, inset b37 0 1px 1px, inset b7 0 0 7px
        p 8px 10px
        relative()
        &.account
          mr 14px
        ul
          li
            f bold 12px/21px sans
            c m153
        a.change
          absolute top 4px right 0
          d block
          f bold 10px/24px sans
          p 0 10px
          c m200
          aa()
          text-decoration underline
          text-shadow #000 0 -1px 0

      form
        ul.rows
          p 0
          li.row
            m 0
            w 100%
            label
              left 7px
            input[type=text]
              w 266px
              left 139px
            a.button.dim
              button-dim()
              absolute top 4px left 412px
