a.play.big
  d block
  absolute top 50% left 50%
  z-index 1
  m -75px 0 0 -75px
  r 150px
  border-radius 75px
  b 9px solid b50
  transition()
  p
    bg b80
    r 132px
    border-radius 66px
    span
      d block
      b 4px solid #fff
      r 132px
      border-radius 66px
      ti -999em
      bg url(../i/icon-play-big.png) 50px center no-repeat
  &:hover
    bc transparent
    p
      bg b80 -webkit-radial-gradient(circle, w50 0%, w1 50%)
