a.spindal, a.pane
  absolute top x
  transition 1s ease all
  d block

  &.show
    z-index 1
    h 64px
    w 45px
    bg url(../i/show-menu.png) left top no-repeat
    ti -999em
    left -45px
    &:hover, &:focus
      bgp 0 -64px
    &:active
      bgp 0 -128px
    &.active
      left 0

  &.hide
    top 25px
    right 0
    z-index 10
    w 25px
    h 49px
    opacity 0
    &:hover, &:focus
      opacity .80
    &:active
      opacity .90

header.artist:hover, .spindal.pane:hover
  a.spindal.hide, a.pane.hide
    opacity .40
    &:hover, &:focus
      opacity .80
    &:active
      opacity .90
