#spindal
  bg w80
  w 245px
  relative()
  left -245px
  z 100
  min-height 100%
  box-shadow b25 1px 0 3px
  transition 1s ease all
  &.active
    left 0

  header.artist
    p x 2em
    relative()
    img.logo
      d block

@import 'a.show.hide.menu'
@import 'a.play.big'
@import 'section.albums'
@import 'menu.share'
@import 'menu.tracks'
@import 'nav.artist'
@import 'ul.bgs'
@import 'panes'
