a.play.big
  display block
  position fixed
  top 50%
  left 50%
  z-index 1000
  mar -75px 0 0 -75px
  square 132px
  border-radius 75px
  border 9px solid b50
  transition()
  p
    bg b80
    square 132px
    border-radius 66px
    span
      display block
      border 4px solid #fff
      square 124px
      border-radius 66px
      text-indent -999em
      background url(../i/icon-play-big.png) 50px center no-repeat
  &:hover
    bc transparent
    p
      background b80 -webkit-radial-gradient(circle, w50 0%, w1 50%)
