a.spindal
  position absolute
  top m
  transition()
  display block

  &.show
    z-index 1
    height 64px
    width 45px
    background url(../i/show-menu.png) left top no-repeat
    text-indent -999em
    left -45px
    &:hover, &:focus
      background-position 0 -64px
    &:active
      background-position 0 -128px
    &.active
      left 0

  &.hide
    right 0
    bg b50
    border-radius 2px 0 0 2px
    z-index 10
    width 41px
    height 60px
    opacity 0
    &:hover, &:focus
      bg b80
    &:active
      bg b90

header.artist:hover
  a.spindal.hide
    opacity 1
