nav.artist
  ul li a
    display block
    text-shadow w50 0 1px 0
    font bold 1em/2 sans
    text-transform uppercase
    pad 0 2em
    &:hover, &:focus
      box-shadow inset b6 0 0 5px
      bg hsla(0,0,71,.6)
    &:active
      box-shadow inset b8 0 0 5px
      bg hsla(0,0,71,.8)
