.popup
  d block
  clearfix()
  fixed top 0 left 50%
  bg m54 url(../i/popups/bg.png)
  box-shadow b75 0 0 8px
  border-radius 5px
  d none
  z 9999
  &.visible
    d block

  &.window
    w 525px
    h 455px
    ml -263px

  &.message
    w 394px
    h 178px
    ml -197px

  input::-webkit-input-placeholder
    c #fff !important
    aa()
  input:-moz-placeholder
    c #fff !impotant
    aa()

@import 'header'
@import 'content'
@import 'footer'

@import 'popup.slideshow'
@import 'popup.album-settings'
@import 'popup.textarea'
@import 'popup.custom-price'
