body.popups
  .popup
    bg m54 url(../i/popups/bg.png)
    fl()
    m 40px 0 0 40px
    clearfix()
    relative()
    w 525px
    h 455px
    z-index 2
    box-shadow b75 0 0 8px
    border-radius 5px

    input::-webkit-input-placeholder
      c #fff !important
      aa()
    input:-moz-placeholder
      c #fff !impotant
      aa()


@import 'header'
@import 'content'
@import 'footer'

@import 'slideshow'
