.popup.account-info
  .content
    ul.rows
      li.row
        mb 12px
        label
          left 13px
        input
          left 93px
        &.half
          w 239px
          input
            right 7px
          &.last-name
            ml 13px
        &.band-name
          mb 0
        &.big
          h 45px
          .light
            top 11px
          input
            h 29px
            p 8px .5em 7px
            f bold 14px/1 sans
          .help
            top 15px

      li.desc
        f bold 10px/20px sans
        c m153
        pl 30px
        aa()
        text-shadow #000 0 -1px 0
        mb 12px
