.popup.account
  .content
    ul.rows
      li.row
        mb 12px
        label
          left 13px

.popup.account-info
  .content
    ul.rows
      li.row
        input
          left 93px
        &.last-name
          ml 13px
        &.band-name
          mb 0
        &.password
          input
            left 143px

      li.desc
        f bold 10px/20px sans
        c m153
        pl 30px
        aa()
        text-shadow #000 0 -1px 0
        mb 12px

.popup.billing-info
  .content
    ul.rows
      li.row
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button
          -webkit-appearance none
          m 0
        &.card-type
          a.selectBox
            left 91px
            w 120px
        &.card-number
          input
            left 141px
        &.security-code, &.expiration-date, &.zip-code
          input
            h 24px
            p 6px .5em 5px
            f bold 13px/1 sans
            top 10px
            w 103px
            left 121px
        &.security-code
          a.what-is-this
            d block
            td underline
            f bold 10px/1.5 sans
            absolute top 13px left 234px
            c m153
            text-shadow #000 0 -1px 0
        &.expiration-date
          a.selectBox
            &.month
              left 121px
              w 96px
            &.year
              left 224px
              w 70px

.popup.security-code
  h 423px
  w 393px
  .content
    h 329px

.popup.plan
  .content
    ul.rows
      li.row
        &.label
          mb 0
          clearfix()
        &.plan
          h 215px
          mb 0
          ul.plans
            clearfix()
            p 8px 0 7px
            li.plan
              fl()
              w 151px
              h 200px
              bg m30
              border-radius 3px
              box-shadow w7 0 1px 0, inset b37 0 1px 0, inset b7 0 0 7px
              ml 9px
              cursor pointer
              relative()
              &:hover, &:focus
                bg m30 url(../i/popups/plan-hover.png)
              &.active:after
                content ''
                w 169px
                h 215px
                absolute top -8px left -9px
                bg url(../i/popups/plan-selected.png)
      li.desc
        clear both
        p 5px 22px
        f 12px/1.5 sans
        c m200
        aa()
        text-shadow #000 0 -1px 0
        a
          c m200
          td underline
      li.cancel
        f bold 13px/26px sans
        p 0 22px
        c m160
        text-shadow #000 0 -1px 0
        aa()
        a
          c m160
          td underline
