.popup.profile
  .content
    ul.rows
      li.row
        mb 12px
        label
          left 13px

.popup.band-logo
  .content
    ul.rows
      li.row
        mb 16px
        &.band-name
          input
            left 93px
        &.font
          &.face
            a.selectBox
              left 55px
              w 155px
          &.color
            a.selectBox
              left 84px
              w 126px
          &.alignment
            a.selectBox
              left 89px
              w 121px
          &.size
            input
              d block
              position absolute
              top 8px
              right auto
              bottom auto
              left 88px
              w 54px + 28px + 20px
              h 24px
              m 0
              p 6px 0 6px 8px
              bg m30
              b none
              border-radius 3px
              box-shadow w7 0 1px 0, inset b75 0 1px 1px, inset b13 0 0 7px
              f bold 12px/1 sans
            input[type=number]::-webkit-inner-spin-button
              bg url(../i/popups/input-number.png) top left
              h 8px
              w 16px
              -webkit-appearance none
            input[type=number]::-webkit-outer-spin-button
              -webkit-appearance none
            span.unit
              f bold 13px/40px sans
              pl 7px
              c m160
              text-shadow #000 0 -1px 0
              aa()
              absolute top 0 left 190px

.popup.news
  .content
    ul.rows
      li.row
        mb 17px
        label
          left 30px
        &.label, &.blog.url
          label
            left 13px
        &.half
          input, a.selectBox
            left 96px
            w 114px
          &.blog.url
            input
              left 74px
              w 136px
        &.email
          a.selectBox
            left 207px
            w 255px
        &.api
          input
            left 95px
            w 335px
.popup.url
  .content
    ul.rows
      li.row
        mb 15px
        &.url
          input
            left 115px
            w 347px

.popup.live
  ul.rows
    li.row
      mb 9px

  ul.thead
    bg url(../i/popups/form-live-thead.png) top left no-repeat
    d block
    lhh 26px
    li
      display table-cell
      ta center
      c transparent

  #events
    max-height 270px + 1px
    overflow hidden
    overflow-x hidden
    overflow-y scroll
    relative()
    z-index 0
    table
      tr
        th, td
          &.date
            min-width 66px
          &.venue
            min-width 140px
          &.location
            min-width 140px
          &.tickets
            min-width 137px
          &.status
            min-width 40px
      tbody
        tr
          bg rgb(52,54,56)
          &:nth-of-type(even)
            bg rgb(62,64,66)
          td
            .light
              m 6px 3px 9px
            &.date
              span.num
                f bold 12px/35px sans
                c m160
                text-shadow b80 0 -1px 0
                w 18px
                ta right
                d inline-block
              a.add
                d inline-block
                r 21px
                m 6px 0 0 6px
                bg url(../i/cp/song-lyrics.png) top left no-repeat
                ti -999em
                &:hover, &:focus
                  bgp 0 -21px
                &:active
                  bgp 0 -42px
            &.venue, &.location, &.tickets
              white-space nowrap
              overflow hidden
              text-overflow ellipsis
              input
                d inline-block
                bxs()
                w 130px
                h 20px
                m 6px 5px 10px
                p 4px 2px
                bg transparent
                b 0
                f bold 12px/1 sans
                aa()
                c #fff
                border-radius 3px
                &:focus
                  background linear-gradient(top, m50, m38)
                  box-shadow w7 0 1px 0, inset b13 0 1px 2px
            &.tickets
              input
                w 99px
                m 5px 0 0
                
            &.status
              ta center
              a.delete
                d inline-block
                h 21px
                w 19px
                m 7px 2px 7px 0
                bg url(../i/cp/song-delete.png) top left no-repeat
                ti -999em
                &:hover, &:focus
                  bgp 0 -21px
                &:active
                  bgp 0 -42px
