.popup.custom-price
  .content
    overflow hidden
    ul.rows
      pt 21px
      li.row
        w 358px
        relative()
        label
          left 11px
        input
          w 85px
          left 134px
          ta right
        span.unit
          f bold 13px/40px sans
          pl 6px
          c m160
          text-shadow #000 0 -1px 0
          aa()
          position absolute
          absolute top 0 left 219px
