.popup.slideshow
  .content
    ul.images
      clearfix()
      p 0 0 0 11px
      li.image
        r 89px
        m 0 6px 11px 5px
        fl()
        bg m30
        &.empty
          box-shadow w7 0 1px 0, inset  b37 0 1px 1px, inset b7 0 0 7px
          &:before
            d block
            content 'Upload Image'
            f bold 14px/1 sans
            ta center
