.selectBox-dropdown, .selector-dropdown
  p 0 23px 0 5px
  position relative
  m 7px 0 8px
  aa()
  h 21px
  c #fff
  bg m40
  d inline-block

  &:hover, &:focus
    c #fff
    .selectBox-arrow
      bgp 0 -18px

  &.selectBox-menuShowing
    .selectBox-arrow, .selector-arrow
      bgp 0 -36px

  .selectBox-label
    w 100%
    f bold 12px/20px sans

  .selectBox-arrow, .selector-arrow
    absolute top 1px right 1px
    w 19px
    h 18px
    bg url(../i/cp/song-select-arrow.png) top left no-repeat

.selectBox-dropdown-menu, .selector-dropdown-menu
  position absolute
  z-index 99999
  max-height 200px
  overflow auto
  border-radius 0 0 3px 3px
  box-shadow inset b13 0 0 7px, b30 2px 2px 4px
  bg m40

.selectBox-options, .selector-options
  li
    a
      d block
      p 0 5px
      f bold 12px/22px sans
      c #fff
      aa()

    &:last-of-type a
      border-radius 0 0 3px 3px 

    &.selectBox-hover a
      bg #1a81c9
      background linear-gradient(top, #338fcf, #0073c3)
